interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query1.finance.yahoo.com/v1/test/getcrumb
  response:
    body:
      string: gyr7xSpBC/D
    headers:
      content-type:
      - text/plain;charset=utf-8
      y-rid:
      - 4aai975jklvu1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v8/finance/chart/EURUSD=X?period1=1693522800&period2=1701216000&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains&crumb=gyr7xSpBC%2FD
  response:
    body:
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"EURUSD=X","exchangeName":"CCY","fullExchangeName":"CCY","instrumentType":"CURRENCY","firstTradeDate":1070236800,"regularMarketTime":1732919346,"hasPrePostMarketData":false,"gmtoffset":0,"timezone":"GMT","exchangeTimezoneName":"Europe/London","regularMarketPrice":1.0581,"fiftyTwoWeekHigh":1.1212,"fiftyTwoWeekLow":1.034,"regularMarketDayHigh":1.0598,"regularMarketDayLow":1.0545,"regularMarketVolume":0,"longName":"EUR/USD","shortName":"EUR/USD","chartPreviousClose":1.0844,"priceHint":4,"currentTradingPeriod":{"pre":{"timezone":"GMT","start":1732838400,"end":1732838400,"gmtoffset":0},"regular":{"timezone":"GMT","start":1732838400,"end":1732924740,"gmtoffset":0},"post":{"timezone":"GMT","start":1732924740,"end":1732924740,"gmtoffset":0}},"dataGranularity":"1d","range":"","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1693522800,1693782000,1693868400,1693954800,1694041200,1694127600,1694386800,1694473200,1694559600,1694646000,1694732400,1694991600,1695078000,1695164400,1695250800,1695337200,1695596400,1695682800,1695769200,1695855600,1695942000,1696201200,1696287600,1696374000,1696460400,1696546800,1696806000,1696892400,1696978800,1697065200,1697151600,1697410800,1697497200,1697583600,1697670000,1697756400,1698015600,1698102000,1698188400,1698274800,1698361200,1698624000,1698710400,1698796800,1698883200,1698969600,1699228800,1699315200,1699401600,1699488000,1699574400,1699833600,1699920000,1700006400,1700092800,1700179200,1700438400,1700524800,1700611200,1700697600,1700784000,1701043200,1701129600,1701216000],"indicators":{"quote":[{"low":[1.0785857439041138,1.0774004459381104,1.0707554817199707,1.0705147981643677,1.068764328956604,1.0695072412490845,1.0711455345153809,1.070617914199829,1.0717424154281616,1.065507411956787,1.0634677410125732,1.0656323432922363,1.0676347017288208,1.0675777196884155,1.0619093179702759,1.0615260601043701,1.0577309131622314,1.0568143129348755,1.0509058237075806,1.049185872077942,1.0558546781539917,1.0492738485336304,1.0449867248535156,1.045369029045105,1.0500892400741577,1.0483938455581665,1.0521442890167236,1.0555983781814575,1.0592771768569946,1.0545964241027832,1.0496152639389038,1.0516352653503418,1.0533411502838135,1.0527091026306152,1.0528864860534668,1.056579828262329,1.057183027267456,1.0584250688552856,1.0566803216934204,1.0526316165924072,1.053629755973816,1.054841160774231,1.0567585229873657,1.0522881746292114,1.0584250688552856,1.0615485906600952,1.0723400115966797,1.0664732456207275,1.0660640001296997,1.0681477785110474,1.0657685995101929,1.0665528774261475,1.0693585872650146,1.0832945108413696,1.0830950736999512,1.0825204849243164,1.0897995233535767,1.0922993421554565,1.0854581594467163,1.0888028144836426,1.089561939239502,1.0925856828689575,1.0935057401657104,1.096118688583374],"open":[1.0844104290008545,1.07758629322052,1.0794472694396973,1.0726161003112793,1.0724204778671265,1.0697818994522095,1.071811318397522,1.0750375986099243,1.075326681137085,1.0734220743179321,1.0637166500091553,1.0668259859085083,1.0692671537399292,1.0682048797607422,1.065303087234497,1.0661548376083374,1.0648492574691772,1.0591648817062378,1.0569483041763306,1.0505305528640747,1.0562450885772705,1.0565240383148193,1.0480751991271973,1.0472300052642822,1.0507071018218994,1.0546631813049316,1.056747317314148,1.0578875541687012,1.0604791641235352,1.0624282360076904,1.0536741018295288,1.0521553754806519,1.0554312467575073,1.057305932044983,1.053851842880249,1.0586491823196411,1.0589966773986816,1.0669853687286377,1.059535264968872,1.056725025177002,1.0564459562301636,1.0562450885772705,1.061503529548645,1.0579099655151367,1.05870521068573,1.0619093179702759,1.0732147693634033,1.0721560716629028,1.0696102380752563,1.0710422992706299,1.0667576789855957,1.069015622138977,1.0701825618743896,1.0878314971923828,1.0854581594467163,1.0853756666183472,1.090702772140503,1.0945948362350464,1.0918222665786743,1.0890873670578003,1.0906314849853516,1.0940439701080322,1.0958423614501953,1.100594401359558],"close":[1.0844104290008545,1.07758629322052,1.0794472694396973,1.0726161003112793,1.0724204778671265,1.0697818994522095,1.071811318397522,1.0750375986099243,1.075326681137085,1.0734220743179321,1.0637166500091553,1.0668259859085083,1.0692671537399292,1.0682048797607422,1.065303087234497,1.0661548376083374,1.0648492574691772,1.0591648817062378,1.0569483041763306,1.0505305528640747,1.0562450885772705,1.0565240383148193,1.0480751991271973,1.0472300052642822,1.0507071018218994,1.0546631813049316,1.056747317314148,1.0578875541687012,1.0604791641235352,1.0624282360076904,1.0536741018295288,1.0521553754806519,1.0554312467575073,1.057305932044983,1.053851842880249,1.0586491823196411,1.0589966773986816,1.0669853687286377,1.059535264968872,1.056725025177002,1.0564459562301636,1.0562450885772705,1.061503529548645,1.0579099655151367,1.05870521068573,1.0619093179702759,1.0732147693634033,1.0721560716629028,1.0696102380752563,1.0710422992706299,1.0667576789855957,1.069015622138977,1.0701825618743896,1.0878314971923828,1.0854581594467163,1.0853756666183472,1.090702772140503,1.0945948362350464,1.0918222665786743,1.0890873670578003,1.0906314849853516,1.0940439701080322,1.0958423614501953,1.100594401359558],"high":[1.0880801677703857,1.080905795097351,1.07991361618042,1.0748181343078613,1.0734220743179321,1.0742061138153076,1.0756852626800537,1.0762641429901123,1.0765421390533447,1.0755001306533813,1.068764328956604,1.0698162317276,1.071926236152649,1.0726966857910156,1.0673611164093018,1.0671560764312744,1.0655415058135986,1.060895323753357,1.057373046875,1.0578652620315552,1.0617965459823608,1.0590976476669312,1.049428105354309,1.0532413721084595,1.0536853075027466,1.0598160028457642,1.0576413869857788,1.061954379081726,1.063354730606079,1.0639089345932007,1.0558546781539917,1.055464744567871,1.0595004558563232,1.0595465898513794,1.0585371255874634,1.0601080656051636,1.064736008644104,1.0690499544143677,1.0606703758239746,1.0569707155227661,1.0597710609436035,1.0625998973846436,1.0669056177139282,1.0580778121948242,1.067008137702942,1.0736998319625854,1.075700283050537,1.0721560716629028,1.071604609489441,1.0728002786636353,1.0692557096481323,1.0705492496490479,1.08672034740448,1.0887316465377808,1.0893957614898682,1.089229702949524,1.0945110321044922,1.0967316627502441,1.0922515392303467,1.0927051305770874,1.0944151878356934,1.0959264039993286,1.1007153987884521,1.1016855239868164],"volume":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}],"adjclose":[{"adjclose":[1.0844104290008545,1.07758629322052,1.0794472694396973,1.0726161003112793,1.0724204778671265,1.0697818994522095,1.071811318397522,1.0750375986099243,1.075326681137085,1.0734220743179321,1.0637166500091553,1.0668259859085083,1.0692671537399292,1.0682048797607422,1.065303087234497,1.0661548376083374,1.0648492574691772,1.0591648817062378,1.0569483041763306,1.0505305528640747,1.0562450885772705,1.0565240383148193,1.0480751991271973,1.0472300052642822,1.0507071018218994,1.0546631813049316,1.056747317314148,1.0578875541687012,1.0604791641235352,1.0624282360076904,1.0536741018295288,1.0521553754806519,1.0554312467575073,1.057305932044983,1.053851842880249,1.0586491823196411,1.0589966773986816,1.0669853687286377,1.059535264968872,1.056725025177002,1.0564459562301636,1.0562450885772705,1.061503529548645,1.0579099655151367,1.05870521068573,1.0619093179702759,1.0732147693634033,1.0721560716629028,1.0696102380752563,1.0710422992706299,1.0667576789855957,1.069015622138977,1.0701825618743896,1.0878314971923828,1.0854581594467163,1.0853756666183472,1.090702772140503,1.0945948362350464,1.0918222665786743,1.0890873670578003,1.0906314849853516,1.0940439701080322,1.0958423614501953,1.100594401359558]}]}}],"error":null}}'
    headers:
      content-type:
      - application/json;charset=utf-8
      y-rid:
      - 4ackc3djklvu1
    status:
      code: 200
      message: OK
version: 1
